{% extends 'base.html.twig' %}

{% block title %}{{ "Forgot Password!"|trans }}{% endblock %}

{% block body %}
<form method="post" class="block-login">
    {% if step is defined and step == 2 %}
        {% for error in errors %}
            <div class="alert alert-danger">{{ error|trans }}</div>
        {% endfor %}

        <input type="hidden" id="step" name="step" value="{{ step }}" />
        <input type="hidden" id="email" name="email" value="{{ email }}" />

        <h1 class="h3 mb-3 font-weight-normal">{{ "We have sent a verification code to your email address"|trans }}</h1>

        <div class="form-group" style="margin-bottom: 15px;">
            <label for="code">{{ "Enter the 6-digit verification code sent to"|trans }} {{ email }}</label>
            <input type="code" name="code" id="code" class="form-control" required autofocus />
        </div>
    {% elseif step is defined and step == 3 %}
        <input type="hidden" id="step" name="step" value="{{ step }}" />
        <input type="hidden" id="email" name="email" value="{{ email }}" />

        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error|trans }}</div>
            {% endfor %}
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ "Please enter a new password"|trans }}</h1>

        <div class="form-group" style="margin-bottom: 15px;">
            <label for="password">{{ "Password"|trans }}</label>
            <input type="password" name="password" id="password" class="form-control" required autofocus />
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="confirmpassword">{{ "Confirm Password"|trans }}</label>
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required autofocus />
        </div>
    {% elseif step is defined and step == 4 %}
        <input type="hidden" id="step" name="step" value="{{ step }}" />

        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error|trans }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-success">{{ 'Password Updated successfully!'|trans }}</div>
        {% endif %}
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">{{ "Please enter your email address"|trans }}</h1>

        <div class="form-group" style="margin-bottom: 15px;">
            <label for="email">{{ "Email"|trans }}</label>
            <input type="email" name="email" id="email" class="form-control" required autofocus />
        </div>

        <input type="hidden" id="step" name="step" value="{{ step }}" />
    {% endif %}

    {% if step != 4 %}
        <button class="btn btn-lg btn-primary" type="submit">
            {{ "Send"|trans }}
        </button>
    {% endif %}
</form>
{% endblock %}
