{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

<div id="result-section" class="property-list-row">
    {% for property in properties %}
        <a href="">
            <div class="property-item">
                <img src="" />
                <div class="property-item-content">
                    <i class="add-favorit fa fa-heart pointer"></i>
                    <p class="price">${{ property.price }}</p>
                    <p class="city">{{ property.city.label }}</p>
                    <p class="street">{{ property.street }}</p>
                    <p class="description">{{ property.title }} – {{ property.description|slice(0,60) }}...</p>
                </div>
                <div class="property-cretaria">
                    <span><i class="fa fa-bed"></i> {{ property.bedrooms }}</span>
                    <span><i class="fa fa-bath"></i> {{ property.bathrooms }}</span>
                    <span><i class="fa fa-home"></i> {{ property.livingSpace }}</span>
                    <span><i class="fa fa-map"></i> {{ property.lotDimensions }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
